*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 40px 0;
}
.main_img{
    width: 50%;
}
.product_img_box{
    position: relative;
}
.product_title_box{
    background: #2c3e5089;
    color: #ecf0f1;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: .6s;
}
.product_title_box:hover {
    transform: scale(1.1);
}

.shop_logo{
    width: 100px;
    height: 30px;
}

.shop_box{
    display: flex;
    justify-content: space-around;
}
.product_info p{
    margin-bottom: 5px;
}
.shop p{
    margin-bottom: 0;
}
.shop img{
    margin-bottom: 10px;
}
footer{
    padding: 10px 0;
}
footer p{
    margin-bottom: 0;
}

@media (min-width:0) and (max-width:575px){
    section{
        padding: 10px 0;
    }
    .card-body{
        padding: 0 5px;
    }
    .shop_box{
        /* flex-direction: column; */
        text-align: center;
        width: 100%;
        overflow-y: scroll;
        
    }
    .shop_logo{
        width: 70px;
        height: 25px;
    }
    .shop{
        border-top: 1px solid #ccc;
        padding: 4px 0;
    }

}

@media (min-width:575.1px) and (max-width:767px){


}

@media (min-width:767.1px) and (max-width:991px){

}
@media (min-width:991.1px) and (max-width:1200px){

}
